.squad-container {
	position: relative;
}

.squad-container .home-team,
.squad-container .away-team {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.squad-container .away-team {
	text-align: right;
	position: absolute;
	right: 0;
}
